<header>
    <nav class="navbar navbar-expand-md navbar-light">
        <a class="navbar-brand" routerLink="/">
            <img class="navbar-logo" src="./assets/todo_logo.png" alt="Logo">
        </a>
        <button class="navbar-toggler navbar-toggler-right" (click)="toggleMenu()"
            type="button" data-toggle="collapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed">
            <ul class="nav navbar-nav mr-auto">
              <li class="nav-item active nav-link">Welcome {{ loggedInUser?.email }}</li>
              <li class="nav-item active" (click)="logout()" [hidden]="!loggedInUser" >
                <a class="nav-link" routerLink="">logout</a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" routerLink="/"
                  (click)="toggleMenu()">All Items</a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" routerLink="/unknown"
                  (click)="toggleMenu()">"Unknown"</a>
              </li>
              <li class="nav-item active" [hidden]="loggedInUser">
                  <a class="nav-link" routerLink="/login"
                  (click)="toggleMenu()">Login</a>
              </li>
              <li class="nav-item active" [hidden]="loggedInUser">
                  <a class="nav-link" routerLink="/signup"
                  (click)="toggleMenu()">Signup</a>
              </li>
            </ul>
        </div>
    </nav>
</header>
