<div class="container">
    <div class="page-header">
        <h1 align="center">Todo List</h1>
         <p class="lead">You've got <em>{{openItemCount}}</em> things to do</p>
    </div>
    <form role="form" [formGroup]="addForm" class="text-center" (ngSubmit)="save()">
        <div class="form-group row">
            <div class="col-sm-10">
                <input type="text" class="form-control form-control-lg" formControlName="item" placeholder="Todo!"
                   [ngClass]="{'is-invalid': formErrors.item}">
            </div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Add</button>
            </div>
        </div>
        <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
          <h3>Error Saving</h3>
          {{ errorMessage }}
        </div>
    </form>
    <div *ngIf="formErrors.item" class="alert alert-danger">
        {{ formErrors.item }}
    </div>
    <div class="row todo" *ngFor="let todoItem of todoList">
        <div class="col-1" (click)="completeTodo(todoItem)">
            <fa-icon [icon]="['far', todoItem.completed  ? 'check-square' : 'square']"></fa-icon>
        </div>
        <div class="col-10 done-{{todoItem.completed}}">
            {{todoItem.item}}
            <br />
            <small>created: {{ todoItem.createdAt | date:'short'}}</small>
        </div>
        <div class="col-1" (click)="deleteTodo(todoItem)">
            <fa-icon [icon]="['far', 'trash-alt']"></fa-icon>
        </div>
    </div>
    <div class="container">
        <h3>Form Status Info</h3>
        <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Status</th>
                <th>Form</th>
                <th>Item Field</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Dirty</td>
                <td>{{ addForm.dirty }}</td>
                <td>{{ addForm.get('item').dirty }}</td>
            </tr>
            <tr>
                <td>Touched</td>
                <td>{{ addForm.touched }}</td>
                <td>{{ addForm.get('item').touched }}</td>
            </tr>
            <tr>
                <td>Valid</td>
                <td>{{ addForm.valid }}</td>
                <td>{{ addForm.get('item').valid }}</td>
            </tr>
            <tr>
                <td>Errors</td>
                <td>N/A</td>
                <td><pre>{{ addForm.get('item').errors | json }}</pre></td>
            </tr>
            <tr>
                <td>Form Field Values</td>
                <td colspan="2"><pre>{{ addForm.value | json }}</pre></td>
            </tr>
        </tbody>
        </table>
    </div>
</div>
